*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

body {
  background-color: palegreen;
}

div {
  width: 5rem;
  height: 5rem;
  border: solid;
}

.container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}